<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1 footer-link">
                <p class="m-0"> &copy; Copyrights 2023 ASDM - Tous droits réservés. Développé par <a href="#"
                        class="text-primary">Alerte Info</a> SARL</p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item">
                        <a role="button" routerLink="/admin.welcome">Accueil</a>
                    </li>
                    <li class="list-inline-item">
                        <a role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                            aria-controls="offcanvasBottom">Contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>

<div class="offcanvas offcanvas-bottom overflow-hidden" tabindex="-1" style="height: 80px !important"
    id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body">
        <div class="mb-4 container d-flex justify-content-between pb-0">
            <div class="me-4 mb-0">
                <span class="text-warning">
                    <i class="fa fa-phone text-dark me-2" aria-hidden="true"></i>
                    +225 0101010110</span>
                <br>
                <span class="text-success">
                    <i class="fa fa-envelope text-dark me-2" aria-hidden="true"></i>
                    monsite@gmail.com</span>
            </div>

            <button class="btn btn-outline-danger btn-sm btn-sw" data-bs-dismiss="offcanvas"> Fermer
            </button>
        </div>

    </div>
</div>