<h1 *ngIf="is_update == false" mat-dialog-title>Ajouter un type catégorie</h1>
<h1 *ngIf="is_update == true" mat-dialog-title>Modifier un type catégorie</h1>
<div mat-dialog-content>
    <div class="row mt-2">
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Type catégorie</mat-label>
                <input [(ngModel)]="type_category" type="text" matInput placeholder="type catégorie">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="text-bg-danger" mat-dialog-close>Retour</button>
    <button *ngIf="is_update == true" mat-raised-button color="primary" (click)="updateTypeCategory()">Modifier</button>
    <button *ngIf="is_update == false" mat-raised-button color="primary" (click)="saveTypeCategory()">Enregistrer</button>
</div>
