<hr class="my-1">
<h2 *ngIf="is_update == false" class="text-center text-uppercase my-1" mat-dialog-title>Ajouter un compte admin</h2>
<h2 *ngIf="is_update == true" class="text-center text-uppercase my-1" mat-dialog-title>Modifier un compte admin</h2>
<hr class="my-1">
<div mat-dialog-content>
    <div class="row mt-2">

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input [(ngModel)]="fname" (input)="storeDataTempToLs($event)" matInput placeholder="Nom">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Prénoms</mat-label>
                <input [(ngModel)]="lname" (input)="storeDataTempToLs($event)" matInput placeholder="Prénoms">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Contact</mat-label>
                <input [(ngModel)]="phone" (input)="storeDataTempToLs($event)" matInput placeholder="Contact">
            </mat-form-field>
        </div>

        <div class="col-md-6" *ngIf="is_update == false">
            <mat-form-field appearance="outline">
                <mat-label>Matricule</mat-label>
                <input [(ngModel)]="matricule" (input)="storeDataTempToLs($event)" matInput placeholder="Matricule">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input [(ngModel)]="email" (input)="storeDataTempToLs($event)" type="email" matInput placeholder="email">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>fonction</mat-label>
                <input [(ngModel)]="fonction" (input)="storeDataTempToLs($event)" type="text" matInput placeholder="fonction">
            </mat-form-field>
        </div>

        <div [class]="is_update == true?'col-md-6': 'col-md-6' ">
            <mat-form-field appearance="outline">
                <mat-label *ngIf="is_update == false">role</mat-label>
                <mat-label *ngIf="is_update == true">{{ role }}</mat-label>
                <mat-select [(value)]="role" (selectionChange)="selectRole($event)">
                    <mat-option *ngFor="let role of _liste_role" [value]="role.role">{{ role.role }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6" *ngIf="is_update == false">
            <input type="file" class="form-control form-control-lg" id="photo"  (change)="choosePhoto($event)">
            <label for="photo">Photo (<code class="text-danger">Pas de selfie</code>) </label>
        </div>

    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="text-white bg-danger" mat-dialog-close>
        <mat-icon>reply</mat-icon>
        Retour
    </button>
    <button *ngIf="is_update == true" mat-raised-button color="primary" (click)="updateCompte()">Modifier</button>
    <button *ngIf="is_update == false" mat-raised-button color="primary" (click)="saveCompte()">Enregistrer</button>
</div>
