.dashnum-card.dashnum-card-small .round.big {
    top: -30px;
    right: 126px;
}
.bg-primary-dark
{
    background-color: #d68417 !important;
}
.bg-secondary-dark
{
    background-color: #198754 !important;
}
