<div mat-dialog-content>
    <div class="row mt-2 justify-content-center">
        <div class="col-md-12 text-center">
            <p class="text-uppercase text-danger">
                ATTENTION !
            </p>
            <hr>
            <p>
                Vous avez un remplissage récent d\'une performance antérieure du projet.
                <a role="button" style="cursor: pointer" class="nav-link text-warning">
                    #{{ content }}
                </a>
            </p>
            <p>
                Cliquez sur <span class="text-danger">*continuer*</span> pour terminer ou sur
                <span class="text-danger">*abandonner*</span> pour supprimer la progression
            </p>
            <div class="example-button-row">
                <button mat-raised-button class="mx-2" (click)="goTo()" color="primary">Continuer</button>
                <button mat-raised-button class="mx-2" (click)="removeOldData()" color="warn">Abandonner</button>
            </div>
        </div>
    </div>
</div>
