<div class="maintenance-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card error-card">
                    <div class="card-body">
                        <div class="error-image-block">
                            <img class="image-animated w-100 img-fluid" src="assets/img/404.svg"
                                alt="image">
                            <img src="assets/img/404.svg" class="img-404 error-text" alt="image">
                        </div>
                        <div class="text-center">
                            <h1 class="mt-4">
                                <b style="text-shadow: .6px 1.2px gray;">Quelque chose ne va pas !</b>
                            </h1>
                            <p class="mt-4 text-muted">La page que vous consultez a été déplacée, supprimée,
                                renommé, ou pourrait ne jamais exister !!
                            </p>
                            <button type="button" (click)="goToBack()" class="btn btn-danger mb-3">
                                <i class="fa fa-reply me-2"></i>
                                Retour
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

