
<hr class="my-1">
<h2 *ngIf="is_update == false" class="text-center text-uppercase my-1" mat-dialog-title>Ajouter un niveau</h2>
<h2 *ngIf="is_update == true" class="text-center text-uppercase my-1" mat-dialog-title>Modifier un niveau</h2>
<hr class="my-1">
<div mat-dialog-content>
    <div class="row mt-2">
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Niveau</mat-label>
                <input [(ngModel)]="niveau" type="text" matInput placeholder="Niveau">
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button class="text-white bg-danger" mat-dialog-close>
        <mat-icon>reply</mat-icon>
        Retour
    </button>
    <button *ngIf="is_update == true" mat-raised-button color="primary" (click)="updateNiveau()">Modifier</button>
    <button *ngIf="is_update == false" mat-raised-button color="primary" (click)="saveNiveau()">Enregistrer</button>
</div>
